.card {
  &__item {
    overflow: hidden;
    background: $color-white;
    border-radius: $radius;
    width: calc(20% - 20px);
    border: 3px solid $color-white;
    transition: .4s;
    cursor: pointer;
    margin: 0 10px 20px;
    @include breakpoint(max, 768px) {
      width: calc(25% - 20px);
    }
    @include breakpoint(max, 450px) {
      width: calc(50% - 20px);
    }
  }
  &__image {
    width: 100%;
    padding-top: 100%;
    background: no-repeat center top $color-white;
    background-size: cover;
    vertical-align: middle;
  }
  &__info {
    padding: 15px;
  }
  &__name {
    font-size: 17px;
    text-align: center;
    line-height: 22px;
    font-family: $secundary;
    @include breakpoint(max, 450px) {
      font-size: 15px;
    }
  }
  &__button {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    border: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
  }
}

.personagens:hover .card__item:not(:hover) {
  opacity: .8;
  transform: scale(.98);
}
