.lightbox {
  &__mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-black, .8);
    z-index: 10;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    background: $color-white;
    border-radius: $radius;
    padding: 70px 20px 20px;
    box-shadow: 0 2px 3px rgba($color-black, .1);
    position: relative;
    width: 90%;
    max-width: 600px;
    font-size: 14px;
    line-height: 22px;
    @include breakpoint(max, 450px) {
      font-size: 13px;
      line-height: 20px;
    }
  }
  &__scroll {
    max-height: 50vh;
    overflow: auto;
    padding-bottom: 1px;
    @include breakpoint(max, 450px) {
      max-height: 40vh;
    }
  }
  &__persona-info {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      width: 49%;
      @include breakpoint(max, 450px) {
        width: 100%;
      }
    }
  }

  &__category {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    font-family: $secundary;
    background: $color-black;
    color: $color-white;
    padding: 5px 15px;
    border-radius: $radius $radius 0 0;
    &-item {
      border: 1px solid $color-black;
      border-top: 0;
      padding: 10px 15px;
      &:last-child {
        border-radius: 0 0 $radius $radius;
      }
    }
  }
  &__name {
    text-align: center;
    font-family: $secundary;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  &__close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    border: 0;
    background-color: $color-black;
    color: $color-white;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
    @include hover(2px, transparent, $color-black, $color-black);
  }
  &__image {
    position: absolute;
    height: 100px;
    width: 100px;
    background: no-repeat center top #fff;
    background-size: cover;
    border-radius: 50%;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid $color-white;
  }
}
