@keyframes dots {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}

.loading {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 90vh;
  color: $color-white;
  font-family: $secundary;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  line-height: 34px;
  &__image {
    max-height: 20vh;
    display: block;
    margin-bottom: 20px;
  }
  &__title {
    &::after {
      content: '';
      animation-name: dots;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
    }
  }
}
