@mixin breakpoint($mode, $size) {
	@if $mode == max {
		@media (max-width: $size) {
			@content;
		}
	} @else if $mode == min {
		@media (min-width: $size) {
			@content;
		}
	} @else if $mode == maxHeight {
		@media (max-height: $size) {
			@content;
		}
	} @else if $mode == minHeight {
		@media (min-height: $size) {
			@content;
		}
	}
};

@mixin hover($size, $bg, $color, $color-text) {
	&:hover {
		background-color: $bg;
		box-shadow: inset 0 0 0 $size $color;
		color: $color-text;
	}
}
